<div class="menu-bar__container">
  <div class="menu-bar__logo">
    <img
    src="assets/ps-logo.png"
    alt=""
    srcset=""
    width= "140px"
    height= "32px"
    >
  </div>
  <div class="menu-bar__item">
    <ul>
      <li><a href="https://www.youtube.com/channel/UCCpKFzuF4jOpuoa1t3wL4oQ" target="_blank">Youtube</a></li>
      <li><a href="https://www.linkedin.com/in/kauebessa/" target="_blank">Linkedin</a></li>
      <li><a href="https://www.linkedin.com/in/kauebessa/" target="_blank">Github</a></li>
    </ul>
  </div>
</div>
